.container{
    max-width: 900px; /* Define a largura máxima do contéudo*/
    margin: 0 auto; /* Centralizar horiunzontalmente*/
    padding: 40px 20px;
}


body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    padding: 40px;
}

h1 {
    color: #4da3ff;
    font-size: 36px;
    margin-bottom: 8px;
}

.subtitle {
    font-size: 18px;
    color: #bbbbbb;
    margin-bottom: 32px;
}

h2 {
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 12px;
    border-bottom: 1px solid #333;
    padding-bottom: 6px;

}
p,li {
    line-height: 1.6;
    margin-bottom: 10px;
}

a {
    color: #4da3ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
