.container{
    max-width: 900px; /* Define a largura máxima do contéudo*/
    margin: 0 auto; /* Centralizar horiunzontalmente*/
    padding: 40px 20px;
}


body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    padding: 40px;
}

h1 {
    color: #4da3ff;
    font-size: 36px;
    margin-bottom: 8px; /* Espaço abaixo do nome para não colar no subtitulo */
}

.subtitle { /* Cria um estilo especifico para o subtitulo */
    font-size: 18px;
    color: #bbbbbb;
    margin-bottom: 32px;
}

h2 {
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 12px;
    border-bottom: 1px solid #333; /* Cria uma linha fina de separação. Isso ajuda a “quebrar” visualmente os blocos de conteúdo. */
    padding-bottom: 6px;

}
p,li { /* Aumenta o espaçamento entre linhas de texto. Isso melhora MUITO a leitura em telas. */
    line-height: 1.6;
    margin-bottom: 10px;
}

a {
    color: #4da3ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.cta-text{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #cccccc;
}

.contact-buttons{
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.btn{
    display: inline-block;
    padding: 10px 18px;
    background-color: #4da3ff;
    color: #000;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 600;
}

.btn:hover {
    background-color: #79b8ff;
}

.btn-outline {
    background-color: transparent;
    color: #4da3ff;
    border: 1px solid #4da3ff;
}

.btn-outline:hover {
    background-color: rgba(77, 163, 255, 0.1);
}